.ayat {
    color: white;
    font-family: monospace;
}

#ayat_prase {
    /* color: red; */
    /* background: black; */
    width: 1500px;
    height: 400px;
    text-align: center;
    font-size: 6vh;
}

#ayat_translate {
    /* color: red; */
    /* background: black; */
    width: 1500px;
    height: 300px;
    text-align: center;
    font-size: 4vh;
}